/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*FUENTES APLICADAS*/
:root {
    --fuente-titulos: 'Nunito', sans-serif;
    --fuente-texto: 'Atkinson Hyperlegible', sans-serif;
}

/*BODY*/
body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background-color: #faf7f2;
}

html,
body {
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/*INICIO*/
.imagen-home {
    max-width: 150px;
}

h2 {
    font-family: 'Nunito', sans-serif;
    color: #9a7c3a;
    margin-top: 20px;
}

/*CARRITO*/

/* Botón seguir comprando */
.btn-seguir-comprando {
    background-color: #42a0bf !important;
    color: #ffffff !important;
    border: none !important;
    font-family: var(--fuente-texto);
    font-weight: 700;
    box-shadow: 0 6px 12px rgba(66, 160, 191, 0.25);
    transition: all 0.2s ease;
}

.btn-seguir-comprando:hover {
    background-color: #2f7187 !important;
    color: #ffffff !important;
    transform: translateY(-2px);
}


/*Boton finalizar compra*/
.btn-finalizar-compra {
    background-color: #9a7c3a !important;
    color: #ffffff !important;
    border: none !important;
    font-family: var(--fuente-texto);
    font-weight: 700;
    box-shadow: 0 6px 12px rgba(66, 160, 191, 0.25);
    transition: all 0.2s ease;
}

.btn-finalizar-compra:hover {
    background-color: #b39044 !important;
    color: #ffffff !important;
    transform: translateY(-2px);
}

/*CHECKOUT*/
/* Botón volver al carrito */
.btn-volver-carrito {
    background-color: #8d3939 !important;
    color: #ffffff !important;
    border: none !important;
    font-family: var(--fuente-texto);
    font-weight: 700;
    box-shadow: 0 6px 12px rgba(141, 57, 57, 0.25);
    transition: all 0.2s ease;
}

.btn-volver-carrito:hover {
    background-color: #a84747 !important;
    color: #ffffff !important;
    transform: translateY(-2px);
}

/* Botón finalizar compra */
.btn-finalizar-compra {
    background-color: #9a7c3a !important;
    color: #ffffff !important;
    border: none !important;
    font-family: var(--fuente-texto);
    font-weight: 700;
    box-shadow: 0 8px 12px rgba(47, 113, 135, 0.25);
    transition: all 0.2s ease;
}

.btn-finalizar-compra:hover {
    background-color: #b39044!important;
    color: #ffffff !important;
    transform: translateY(-2px);
}